
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-size:55px;font-family:'Times New Roman';">Yeni Kulüp Ekleme Sayfası</h2>

<form method="post" class="form-group">
    <div>
        <label>Kulüp Adı</label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <div>
        <button class="btn btn-warning" style="margin-top:15px">Kulüp Ekle</button>
    </div>
</form>