
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-size:55px;font-family:'Times New Roman';">Yeni Ders Ekleme Sayfası</h2>

<form method="post" class="form-group">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD"/>
    </div>
    <div>
        <button class="btn btn-warning" style="margin-top:15px">Ders Ekle</button>
    </div>
</form>